*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-weight: normal;
  color: #fff;
  background-image: linear-gradient(
    to right top,
    #060606,
    #050504,
    #030303,
    #020201,
    #000000
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 4rem 11rem 4rem 8rem;
  z-index: 11;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}
.header__link {
}
.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: white;
  font-size: 1.6rem;
}
.header__btn {
  margin-left: 55.3rem;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

/* main display */
.main-display .container {
  position: relative;
  z-index: 10;
  padding-top: 27rem;
}

.main-display__header {
  max-width: 80rem;
  /* font-family: var(--font-family); */
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.4;
  color: white;
  margin-bottom: 5rem;
}
.timer {
}
.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}
.timer__item {
  width: 10rem;
  height: 11.2rem;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.timer__item:not(:last-child) {
  margin-right: 3rem;
}
.timer__count {
  font-size: 3.6rem;
}
.timer__text {
  font-size: 1.6rem;
  opacity: 0.4;
}

.timer-btn {
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}
.main-display__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
