@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  color: #fff;
  background-image: linear-gradient(
    to right top,
    #060606,
    #050504,
    #030303,
    #020201,
    #000000
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 4rem 11rem 4rem 8rem;
  z-index: 11;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}
.header__nav a {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}
.header__link {
}
.button {
  border-radius: 5rem;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  color: white;
}
.header__btn {
  margin-left: 55.3rem;
  line-height: 1.5;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

/* main display */
.main-display {
  padding-top: 27rem;
}
.main-display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}

.main-display__header {
  max-width: 80rem;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.4;
  color: white;
  margin-bottom: 5rem;
}

.main-display__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.timer {
}
.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}
.timer__item {
  width: 10rem;
  height: 11.2rem;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.timer__item:not(:last-child) {
  margin-right: 3rem;
}
.timer__count {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4;
}
.timer__text {
  font-size: 1.6rem;
  line-height: 1.4;
  opacity: 0.4;
}

.timer-btn {
  line-height: 1.5;
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

/* work */
.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work__wrap {
  display: flex;
}
.work__img {
  width: 52.6rem;
  height: 49.9rem;
  margin-right: 13.9rem;
}
.work__text {
  max-width: 63.6rem;
  padding-top: 6.9rem;
}
.work__header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.4;
  margin-bottom: 4.5rem;
}
.work__description {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* process */
.process {
  position: relative;
  padding-bottom: 20rem;
}
.container {
}
.process__wrap {
}
.process__title {
  display: flex;
  align-items: center;
  margin-bottom: 4.9rem;
}
.process__img {
  width: 12.7rem;
  height: 12.7rem;
}
.process__header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.4;
  margin-right: 2rem;
}
.process__description {
  max-width: 41.1rem;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 8rem;
  opacity: 0.5;
}

.process__columns {
  display: flex;
}
.process__columns::after {
  content: "";
  display: block;
  position: absolute;
  top: 38rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 130rem;
  height: 0.2rem;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}
.process__item {
  max-width: 30.6rem;
}
.process__work {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4;
  margin-bottom: 6.5rem;
}
.process__text {
  font-size: 1.4rem;
  line-height: 1.6;
  opacity: 0.5;
}
